.*

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.env
dist
build

# Node dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Binaries without extension
atrace-gtw
atrace-tracker
hub-gtw
hub-users
hub-namespaces
capital-gtw
capital-billing
